<header>
<app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container_article">
  <div class="articles_main">
    <app-big-card
    photoCover="https://th.bing.com/th/id/OIP.ISBHa1Y0rQvS7N0G1bZVjgHaFy?pid=ImgDet&rs=1"
    cardTitle="Web Components atingem a maturidade"
    cardDescription="Qual é o problema em fornecer um modelo de web component nativo?"
    >
    </app-big-card>

    <app-big-card
    photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*qgo4_MwETtxdspEqt12sNA.png"
    cardTitle="ANGULAR 16"
    cardDescription="A equipe do Angular não está medindo esforços para trazer grandes novidades a cada versão lançada. Foi assim nas versões 14 e 15. Agora com a versão 16 não é diferente. O Angular progrediu muito em pouquíssimo tempo."
    >
    </app-big-card>
  </div>
  <div class="articles_others">
    <app-small-card
      photoCover="https://th.bing.com/th/id/OIP.samrfKpjkm2sQHjpDeE27QHaD4?pid=ImgDet&rs=1">
    </app-small-card>

    <app-small-card
      photoCover="https://th.bing.com/th/id/OIP.samrfKpjkm2sQHjpDeE27QHaD4?pid=ImgDet&rs=1">
    </app-small-card>

    <app-small-card photoCover="https://th.bing.com/th/id/OIP.samrfKpjkm2sQHjpDeE27QHaD4?pid=ImgDet&rs=1">
    </app-small-card>
  </div>
</div>

